SECRET_KEY="47c8f35b-6e3e-492a-8150-423f89c81c7esuper_secret_key"
DEEPINFRA_API_TOKEN="ADbgbp9aSuq9YL9MDoUO0BDEOwxzqoYe"
DEEPINFRA_EMBEDDINGS_MODEL="Embeding_model"
DEEPINFRA_LANG_MODEL="mistralai/Mixtral-8x7B-Instruct-v0.1"
DEBUG=True
OPENAI_API_KEY=""
PORT=8001